* {
    transition: all 0.25s;
}

body{
    margin:0;
    padding:0;
    background: steelblue;
    background-image: url(https://i.ibb.co/dDHNqQ2/e054a41a3029ab009a35d09c8dc3ee92.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    font-size: 120%
}

#encabezado{
    width: 60vw;
    min-height: 200px;
    display: fex;
    justify-content: center;
    align-items:  center;
    background: rgb(131, 203, 203);
    border-radius: 10px;
    margin: 10px;
    padding: 42px;
}

.opcion{
    width: 50vw;
    background: rgb(169, 227, 169);
    border-radius: 10px;
    margin: 10px;
    padding: 42px;
}

.opcion:hover{
    background: rgb(24, 215, 199);
}